.landingPageShape {
  min-height: 600px;
  width: 500px;
  background: #ecbcfd;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

@media (max-width: 950px){
  .landingPageShape {
    width:300px;
    min-height: 500px;
  }
}
