.landingPageShape {
  min-height: 600px;
  width: 500px;
  // background: #ecbcfd;
  // background: #b0f2b4;
  background:  #f1e2d7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 950px){
  .landingPageShape {
    width:400px;
    min-height: 500px;
  }
}
