@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.landingPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;

  .textBlock {
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Shadows Into Light;
    font-weight: bold;
    margin-top: 24px;
  }

  .smallerText {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Vina Sans;
    margin-top: 96px;
  }

  .viewGalleryButton {
    color: black;
    background: white;
    opacity: 0.8;
    text-transform: uppercase;
    width: 120px;
    height: 32px;
    position: absolute;
    margin-top: 172px;
    font-size: 14px;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  @media (max-width: 650px) {
    .textBlock{
      font-size: 18px;
    }

    .smallerText{
      font-size: 14px;
      margin-top: 82px;
    }
  }
}

.landingPageShape {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  width: 80vw;
  height: 550px;;
  border-radius: 51rem 51rem 0 0;
  object-fit: cover
}

@media (max-width: 950px){
  .landingPageShape {
    width: 100vw;
    height: auto;
  }
}

// .travelStamp {
//   margin-top: -180px;
//   margin-left: 220px;
// }

// .squareShape {
//   background: #f5ebe0;
//   height: 400px;
//   margin-top:22px;
//   min-width: 260px;
//   width: 100%;
// }