@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.homePageBanner {
  background-color: white;
  height: 120px;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black !important;
  justify-content: space-between;
  z-index: 999;

  .logoAndTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;

    .title {
      text-transform: uppercase;
      font-family: Shadows Into Light;;
      margin-left: 12px;
      font-size: 18px;
    }
  }

  @media (max-width: 950px) {
    .pageLinks {
      display: none;
    }    
  }

  .pageLinks {
    text-transform: uppercase;
    font-family: Shadows Into Light;
    white-space: nowrap;
    flex-shrink: 1;
    margin-right: 24px;
    font-size: 18px;

    .link {
      margin: 8px;
    }

    & :hover,
    & .selected {
      color: blue;
      text-decoration: underline;
    }
  }
}
