.homePageBanner {
  background-color: white;
  height: 120px;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  color: black !important;
}
