.homePageBanner {
  background-color: white;
  height: 120px;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  color: black !important;

  .logoAndTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
      margin-left: 12px;
      font-size: 12px;
    }
  }

}
