.commonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 24px;
}