.galleryByCountry {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background: white;
  padding: 24px;

  .backButton {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

