@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.galleryPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background: white;
    padding: 24px;

  .funShape {
    background: #ccd5ae;
    height: 360px;
    width: 360px;
    border-radius: 50%;
    top: -80px;
    left: -92px;
    position: absolute;
  }

  @media (max-width: 600px){
    .funShape {
      height: 240px;
      width: 240px;
      top: 0;
    }
  }

  .halfCircleSide {
    position: absolute;
    top: 50%;
    right: 0;
    height: 300px;
    width: 150px;
    border-radius: 150px 0 0 150px;
    background-color: #ccd5ae;
  }

  @media (max-width: 600px){
    .halfCircleSide {
      height: 200px;
      width: 100px;
    }
  }

    .titleWrapper {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      height: 46px;
      margin-bottom: 32px;
      z-index: 1
    }
    
    .title {
      font-family: Shadows Into Light;
      font-size: 24px;
      text-transform: uppercase;
      color: black !important
    }

    @media (max-width: 600px) {
      .galleryPageWrapper{
        margin-left: -136px;
      }
    }

    .countryAlbumsWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 845px;
    }
}

