.footerWrapper {
  display: flex;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 60px;
  color: black !important;
  background: #ccd5ae;
  bottom: 0;

  .leftSideFooter {
    width: 50%;
    display: flex;
    align-items: center;

    .name {
      font-size: 10px;
      margin-left: 6px;
    }
  }

  .rightSideFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    cursor: pointer;
  }
}