@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.aboutMeSection {
      width: 80vw;
      min-height: 400px;
      background: #ccd5ae;
      display: flex;
      align-items: center;
      outline: 2px solid white;
      outline-offset: -16px;
      padding: 24px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;

  .left {
    margin-bottom: 16px;
    width: 50%;
  }

  @media (max-width: 700px){
    .left{
      width: 100%;
    }
  }

  .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .picture {
      height: 344px;
      width: 276px;
    }

    @media (max-width: 850px){
      .picture {
        height: 300px;
        width: 232px;
      }
    }

    .pictureLabel {
      width: 120px;
      height: 32px;
      font-family: Shadows Into Light;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      color: black;
      position: absolute;
      top: -6px
    }
  }
}

.titleWrapper {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 46px;
  margin: 32px;
}

.title {
  font-family: Shadows Into Light;
  font-size: 24px;
  text-transform: uppercase;
  color: black !important
}